:root{
    --cor-fundo: #1a1a1a;
    --cor-fundo-container: #242424;
    --cor-texto: rgba(255, 255, 255, 0.87);
    --cor-primaria: #00e5ff;
    --cor-borda: #424242;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: var(--cor-texto);
    background-color: var(--cor-fundo);

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#root{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    background-color: var(--cor-fundo-container);
    border-radius: 8px;
    border: 1px solid var(--cor-borda);
   

}